{% extends 'main.html' %}
{% load static %}



{% block profile %}    
        <div class="w3-container">
          <br>
          <p> VALIDATION FORM</p>          
          <form id="Form" action="{% url 'validation' %}" method="post">
            {% csrf_token %}
            <input style="margin: auto%; max-width: 150px;" id="here"name="check" type="text" placeholder="Enter sticker code.." value="" />&nbsp;
            <input id="subHere" type="submit" value="Submit"  />           
            
            <input type="button" onclick="window.location.href='unmark/';" value="#" />
          </form>
        <!--<hr>  
          <p>Search by Photo Code</p>
          <input type="text" placeholder="Search.." name="search"> -->
        </div>              
      <br>

{% endblock profile %}

{% block content %}
<div class="w3-container" onload="myFunction()">
  <br> 
  <div class="w3-light-grey">
    <div id="myBar" class="w3-container w3-green w3-cente" style="height:24px;width:{{procent}}%"> {{procent}} %</div>
  </div>
  <p>Checked <span id="demo">{{cheked}}</span> of {{need_to_check}} packs</p>
  <hr>
<table class="w3-table w3-striped w3-border w3-centered" style="margin-top: 10px; margin-bottom: 10px;">
    <tr>
    <th>Photo Code</th>
    <th>Photo</th>
    <th>PDF</th>
    <th>Time</th>
    <th>Date</th>
    <th>Validation</th>
    </tr>
    {% for photo in photo %}
      {% if photo.photo_check_list == False %}
      <tr style="margin: 50px;">
        <td sty>{{photo.photo_code}}</td>
        <td><a href="/{{photo.photo_dir}}"> <i class="fa fa-file-image-o" aria-hidden="true"></i></a></td>
        <td><a href="/{{photo.photo_pdf_dir}}"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
        <td>{{photo.photo_time}}</td>
        <td>{{photo.photo_date}}</td>
        
        <td><input class="w3-check" type="checkbox">
            <label></label></td>
        </tr>
        
      {% else %}
      <tr style="box-shadow: inset 0px 0px 2px rgba(0,0,0,0.9); font-weight: bold; border: 2px solid green;">
        <td>{{photo.photo_code}}</td>
        <td><a href="#"></a><i class="fa fa-file-image-o" aria-hidden="true"></i></a></td>
        <td><a href="#"></a><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
        <td>{{photo.photo_time}}</td>
        <td>{{photo.photo_date}}</td>        
        <td><input class="w3-check w3-green" checked="checked" type="checkbox">
          <label>  Checked</label></td>
        </tr>
      {% endif %}
    {% endfor %}



   
    <!-- <tr>
    <td>order_code-16-25</td>
    <td>04.02.2021</td>
    <td><input class="w3-check" type="checkbox">
        <label></label></td>
    </tr>
    <tr>
    <td class="w3-green" >order_code-16-31</td>
    <td class="w3-green" >04.02.2021</td>
    <td class="w3-green" ><input class="w3-check w3-green" checked="checked" type="checkbox">
        <label>  Checked</label></td>
    </tr> -->
</table>
{% endblock content%}