{% extends 'main.html' %}



{% block profile %}    
        <div class="w3-container">
          <br>
          <p>Search by Photo Code</p>        

        <form id="Form" action="{% url 'photo_search' %}" method="post">
          {% csrf_token %}
          <input id="here"name="q" type="text" placeholder="Search.." value="" />&nbsp;
          <input id="subHere" type="submit" value="Submit"  />
      </form>



        </div>     
      <br>
      <script>
        //$('#here').keyup(function(){
        //    if(this.value.length ==10){
        //      $('#Form').submit();
        //    }
        //});
    
        var input = document.querySelector('#here');
        input.addEventListener('keyup', checkLength);
        function checkLength(e){
            if(e.target.value.length===10){
                document.forms["Form"].submit();
            }
        }
    
    </script>
{% endblock profile %}



{% block content %}
<header>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />   
 </header>
    <div class="w3-container">     
      <br>      
      <br>
      <div id="galley">
          <ul class="pictures">
              {% for photo in photo %}
              <li>
                      <img title="{{photo.photo_date}} / {{photo.photo_time}}" style="padding: 3px;" data-original="../{{photo.photo_dir}}" src="../{{photo.photo_dir}}" alt="{{photo.photo_code}}"> <div style="width: 85%; margin: auto;" class="w3-round  w3-theme-d2"><center>{{photo.photo_code}}</center></div>
                 
              </li>
              {% endfor %}
                  
          </ul>
        </div>   


        <script src="https://unpkg.com/jquery@3/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://fengyuanchen.github.io/viewerjs/js/viewer.js"></script>
        <script>
          window.addEventListener('DOMContentLoaded', function () {
            var galley = document.getElementById('galley');
            var viewer = new Viewer(galley, {
              url: 'data-original',
              title: function (image) {
                return image.alt + ' (' + (this.index + 1) + '/' + this.length + ')';
              },
            });
          });
        </script>

      </div>
<br>
{% endblock content%}